---
# Update a hosts grub configuration.
#
# This role will configure a host to load the speified kernel version using grub.
# If no version is requested it will configure the host to load the most recent
# kernel.
#
# This task list does not include reboot-and-wait.yml. That should get done
# by task lists that include this file (update-grub.yml) if reboot is needed.
#
# WARNING: This role works by writing /etc/default/grub so if you have any
# existing manual configuration for this file you may need to expand the
# role to allow for additional grub related configuration.
#
# What follows is the list of variables expected to get set before including
# this task file as well as variables set by this task file that will be
# available after it has run. This is more for maintainers for the role
# than users of the role.
#
# OPTIONAL INPUT VARIABLES:
#
#  kernel_update_grub_requested_kernel_version - the kernel version to have
#  the host boot with. This should be a value you would want to see when
#  runing `uname -r` after the machine is configured and restarted. If not
#  defined it will GET SET to the kernel_update_grub_latest_kernel_version.
#
# SETS:
#
#  kernel_update_grub_latest_kernel_version - the latest kernel version
#  available to boot with.
#
#  kernel_update_grub_kernel_versions - a list of all the kernel versions
#  currently availbe to boot with on the host.
#
#  kernel_update_grub_default - the value used to set GRUB_DEFAULT in the
#  grub configuration file.
#
#  ku_render_grub_result - the result of rendering /etc/default/grub. May
#  be useful if users need to trigger a reboot after rendering the configuration.
#
#  ku_update_grub_result - the result of updating grub after rendering the
#  default configuration. May be useful if users need to trigger a reboot
#  after running update-grub.

- name: Fail if not a new release of Ubuntu
  fail: msg="{{ ansible_distribution_version }} is not an acceptable version of Ubuntu for this role"
  when: "ansible_distribution_version not in ['12.04', '14.04']"

# run update-grub to ensure /boot/grub/grub.cfg is up to date. This allows us to
# reasonably assume any kernel we find in the grub configuration is still a good choice.
- name: Update grub
  command: update-grub

# This command works on grub 1.99 & 2.02 and does not contain extra '\' to work
# with ansible so it can be copy pasted and work on a live box.
# At least one entry should exist or this will error out, but any running machine
# should have at least one kernel available.
# **RUN EVEN IN CHECKMODE**
- name: get kernel releases in sorted order
  shell: 'cat /boot/grub/grub.cfg | grep menuentry | grep -oP \\d+\\.\\d+\\.\\d+-\\d+-\\w+ | sort -V -r | uniq'
  register: ku_kernel_releases
  always_run: yes

- name: set kernel_update_grub_latest_kernel_version to the latest kernel
  set_fact:
   kernel_update_grub_kernel_versions: "{{ ku_kernel_releases.stdout.splitlines() }}"
   kernel_update_grub_latest_kernel_version: "{{ ku_kernel_releases.stdout.splitlines()[0] }}"

# TODO add regex to confirm results are valid kernel versions.

- name: set kernel_update_grub_requested_kernel_version to kernel_update_grub_latest_kernel_version if not already defined by user
  set_fact:
   kernel_update_grub_requested_kernel_version: "{{ kernel_update_grub_requested_kernel_version|default(kernel_update_grub_latest_kernel_version) }}"

- name: check that kernel_update_grub_requested_kernel_version has been set
  fail: msg="kernel_update_grub_requested_kernel_version is not defined"
  when: not kernel_update_grub_requested_kernel_version is defined

- name: check that kernel_update_grub_requested_kernel_version is in the list of available kernels
  fail: msg="kernel_update_grub_requested_kernel_version is not a valid kernel"
  when: not kernel_update_grub_requested_kernel_version in kernel_update_grub_kernel_versions

- include: set-grub-default_14_04.yml
  when: ansible_distribution_version in ['14.04']
    and kernel_update_grub_requested_kernel_version is defined

- include: set-grub-default_12_04.yml
  when: ansible_distribution_version in ['12.04']
    and kernel_update_grub_requested_kernel_version is defined

- name: check that kernel_update_grub_default has been set
  fail: msg="kernel_update_grub_default is not defined"
  when: not kernel_update_grub_default is defined

- name: Render grub configuration
  lineinfile:
    dest: /etc/default/grub
    regexp: "^GRUB_DEFAULT="
    line: "GRUB_DEFAULT=\"{{ kernel_update_grub_default }}\""
    backup: yes
  register: ku_render_grub_result
  when: ansible_distribution_version in ['12.04', '14.04'] and kernel_update_grub_default is defined

- name: Update grub
  command: update-grub
  register: ku_update_grub_result
  when: ku_render_grub_result|changed
